.header__container {
    width: 100vw;
    border-bottom: .5px solid gray;
    background: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    max-width: 1000px;
    margin: 0 auto;
}

.header__searchbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5em;
    background: rgb(239, 239, 239);
    padding: .5em 2em .5em .5em;
    width: 300px;
    border-radius: 10px;
}

.header__searchbox-container input {
    background: transparent;
    border: none;
    padding: 5px 10px;
    outline: none;
    flex: 1;
}

.icon {
    color: black;
}

.header__navlinks-container {
    display: flex;
    gap: .5em;
}

.avatar {
    max-width: 35px;
    border-radius: 50%;
}

Link {
    color: black;
}